@import './reset';
@import './variables/global';
@import './themes/night';
@import './themes/morning';
@import './themes/sunset';
@import './themes/day';

.App {
	font-family: var(--font-family-main);
	font-size: var(--font-size-m);
	color: var(--text-primary);
	background-color: var(--bg-primary);
	min-height: 100vh;
}

.App__content {
	display: flex;
}

.App__pageWrapper {
	flex-grow: 1;
	padding: 20px;
}
