@import url('./reset.scss');
@import url('./variables/global.scss');
@import url('./themes/night.scss');
@import url('./themes/morning.scss');
@import url('./themes/sunset.scss');
@import url('./themes/day.scss');

.App {
	font-family: var(--font-family-main);
	font-size: var(--font-size-m);
	color: var(--text-primary);
	background-color: var(--bg-primary);
	min-height: 100vh;
}
.App__content {
	display: flex;
}
.App__pageWrapper {
	flex-grow: 1;
}
