:root {
	--font-family-main: consolas, 'sans-serif';
	--font-size-s: 16px;
	--font-size-m: 20px;
	--font-size-b: 24px;

	/* Blocks sizes */
	--navbar-height: 120px;
	--sidebar-width: 300px;
	--sidebar-width--collapsed: 80px;
}
