.button {
	cursor: pointer;
	color: var(--text-second);
	border-radius: 10px;
	padding: 10px 15px;
}
.clear {
	margin: 0;
	outline: none;
	background: none;
	border: none;
}
.primary {
	background-color: var(--other-color);
	border: 2px solid var(--other-color-accent);
}
.outlined {
	border: 2px solid var(--other-color-accent);
}
