.App.day {
	--text-primary: rgb(0, 0, 0);
	--text-second: rgb(90, 90, 90);
	--other-color: rgba(170, 170, 170, 0.55);
	--other-color-accent: rgb(138, 138, 138);
	--bg-primary: rgb(255, 255, 255);
	--bg-second: rgb(202, 202, 202);
}
