.App.morning {
  --text-primary: rgb(252, 214, 139);
  --text-second: rgb(13, 25, 21);
  --other-color: rgba(132, 175, 154, 0.35);
  --other-color-accent: rgba(94, 126, 111, 0.4);
  --bg-primary: rgb(81, 123, 139);
  --bg-second: rgb(214, 175, 103);
}
