.App.morning {
	--text-primary: rgb(13, 25, 21);
	--text-second: rgb(252, 214, 139);
	--other-color: rgba(132, 175, 154, 0.35);
	--other-color-accent: rgb(94, 126, 111);
	--bg-primary: rgb(81, 123, 139);
	--bg-second: rgb(214, 175, 103);
}
