.App.night {
	--text-primary: rgb(255, 255, 255);
	--text-second: rgb(176, 185, 198);
	--other-color: rgba(158, 158, 158, 0.25);
	--other-color-accent: rgb(119, 119, 119);
	--bg-primary: rgb(0, 0, 0);
	--bg-second: rgb(72, 78, 83);
}
