.App.sunset {
	--text-primary: rgb(255 250 180);
	--text-second: rgb(251 165 90);
	--other-color: rgb(218 101 99 / 25%);
	--other-color-accent: rgb(177 83 82);
	--bg-primary: rgb(115 86 104);
	--bg-second: rgb(133 60 28);
}
