.navbar {
	width: 100%;
	background-color: var(--bg-second);
	display: flex;
	justify-content: space-between;
	padding: 30px 50px;
	height: var(--navbar-height);
	column-gap: 60px;
	a {
		color: var(--text-second);
		font-size: var(--font-size-b);
	}
}
.links {
	display: flex;
	column-gap: 20px;
}
